{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<style>
    nav {
        display: flex;
        justify-content: space-between; /* Space between left and right sections */
        align-items: center;
        background-color: #000000;
        padding: 0.5em 1em; /* Add horizontal padding */
    }

    .nav-left {
        display: flex;
        align-items: center; /* Vertically align the logo and links */
    }

    nav a {
        color: #fff;
        text-decoration: none;
        margin: 0 1em;
    }

    .navbar-logo {
        width: 80px; /* Adjust width as needed */
        height: auto; /* Maintain aspect ratio */
        margin-right: 1em; /* Space between the logo and other links */
    }
</style>
<nav>
    <div class="nav-left">
        <a href="{% url 'home' %}">
            <img class="navbar-logo" src="{% static 'logo_black.PNG' %}" alt="Syndicate Logo">
        </a>
        <a href="{% url 'tour' %}">Tour</a>
        <a href="{% url 'band' %}">Band</a>
        <a href="{% url 'music' %}">Music</a>
        <a href="{% url 'merch' %}">Merch</a>
        <a href="{% url 'contact' %}">Contact</a>
    </div>
</nav>
